# ======================= .env.local =========================
# 카카오 API 키
VITE_KAKAO_MAP_KEY=your-kakao-api-key


# ================== .env.development.local ===================
# 로컬 SSL 인증서 경로
VITE_SSL_KEY=./your-key.pem
VITE_SSL_CERT=./your-cert.pem

# 개발자 계정 ID (테스트용)
VITE_DEV_USER_ID=1

# 개발용 API 서버 주소 (각자 사용하는 포트번호로 수정)
VITE_API_SERVER=https://localhost:7777

# 웹소켓 경로 (각자 사용하는 포트번호로 수정)
VITE_WS_URL=wss://localhost:7777/ws-stomp


# ================== .env.production.local ====================
# 로컬 SSL 인증서 경로
VITE_SSL_KEY=./your-key.pem
VITE_SSL_CERT=./your-cert.pem

# 개발자 계정 ID (테스트용)
VITE_DEV_USER_ID=1

# API 서버 (개발 단계에서는 localhost 고정)
VITE_API_SERVER=https://localhost:7777
# VITE_API_SERVER=https://linkle.shinhanacademy.co.kr/api

# 웹소켓 경로 (개발 단계에서는 localhost 고정)
VITE_WS_URL=wss://localhost:7777/ws-stomp
# VITE_WS_URL=wss://linkle.shinhanacademy.co.kr/ws-stomp