# ======================= .env.local =========================
# 로컬 SSL 인증서 경로
VITE_SSL_KEY=./your-key.pem
VITE_SSL_CERT=./your-cert.pem

# ================== .env.development.local ===================
# 개발용 API 서버 주소 (각자 사용하는 포트번호로 수정)
VITE_API_SERVER=https://localhost:7777

# ================== .env.production.local ====================